<?xml version="1.0"?>
<config>
    <modules>
        <Aurmil_CustomizePriceFilter>
            <version>1.2.0</version>
        </Aurmil_CustomizePriceFilter>
    </modules>
    <global>
        <models>
            <aurmil_customizepricefilter>
                <class>Aurmil_CustomizePriceFilter_Model</class>
            </aurmil_customizepricefilter>
            <catalog>
                <rewrite>
                    <layer_filter_price>Aurmil_CustomizePriceFilter_Model_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
					<layer_filter_price>Aurmil_CustomizePriceFilter_Model_Catalog_Resource_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog_resource>
        </models>
        <helpers>
            <aurmil_customizepricefilter>
                <class>Aurmil_CustomizePriceFilter_Helper</class>
            </aurmil_customizepricefilter>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <aurmil_customizepricefilter>
                    <files>
                        <default>Aurmil_CustomizePriceFilter.csv</default>
                    </files>
                </aurmil_customizepricefilter>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <aurmil_customizepricefilter>
                    <files>
                        <default>Aurmil_CustomizePriceFilter.csv</default>
                    </files>
                </aurmil_customizepricefilter>
            </modules>
        </translate>
    </frontend>
    <default>
        <catalog>
            <layered_navigation>
                <price_subtraction>1</price_subtraction>
            </layered_navigation>
        </catalog>
    </default>
</config>