<?xml version="1.0"?>
<config>
    <modules>
        <Aurmil_CustomizePriceFilter>
            <version>2.0.0</version>
        </Aurmil_CustomizePriceFilter>
    </modules>
    <global>
        <resources>
            <aurmil_customizepricefilter_setup>
                <setup>
                    <module>Aurmil_CustomizePriceFilter</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aurmil_customizepricefilter_setup>
            <aurmil_customizepricefilter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aurmil_customizepricefilter_write>
            <aurmil_customizepricefilter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aurmil_customizepricefilter_read>
        </resources>
        <models>
            <aurmil_customizepricefilter>
                <class>Aurmil_CustomizePriceFilter_Model</class>
            </aurmil_customizepricefilter>
            <catalog>
                <rewrite>
                    <layer_filter_price>Aurmil_CustomizePriceFilter_Model_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
					<layer_filter_price>Aurmil_CustomizePriceFilter_Model_Catalog_Resource_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog_resource>
        </models>
        <helpers>
            <aurmil_customizepricefilter>
                <class>Aurmil_CustomizePriceFilter_Helper</class>
            </aurmil_customizepricefilter>
        </helpers>
        <blocks>
            <aurmil_customizepricefilter>
                <class>Aurmil_CustomizePriceFilter_Block</class>
            </aurmil_customizepricefilter>
        </blocks>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <aurmil_customizepricefilter>
                    <files>
                        <default>Aurmil_CustomizePriceFilter.csv</default>
                    </files>
                </aurmil_customizepricefilter>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <aurmil_customizepricefilter>
                    <files>
                        <default>Aurmil_CustomizePriceFilter.csv</default>
                    </files>
                </aurmil_customizepricefilter>
            </modules>
        </translate>
    </frontend>
    <default>
        <catalog>
            <layered_navigation>
                <price_subtraction>1</price_subtraction>
            </layered_navigation>
        </catalog>
    </default>
</config>
